<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span><span class="text-primary">Many Solutions</span>
    </div>
    <div class="text-700 mb-6 ml-80 mr-80">
        App Matrix was created as an innovative and user-friendly application designed to serve as 
        the central hub for accessing all our created applications seamlessly. Users can 
        manage and navigate between multiple applications efficiently, streamlining their 
        digital experience like never before.
    </div>
    <div class="grid-cols-3 columns-3 ml-40 mr-40">
        <div class="md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-cog text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Customize Interface</div>
            <span class="text-700 line-height-3">
                Themes and layout options enable users to tailor the interface to their liking, 
                providing a visually appealing and comfortable environment.
            </span>
        </div>
        <div class="md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-search text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Search and Filtering</div>
            <span class="text-700 line-height-3">
                Powerful search and filtering capabilities help users locate specific applications 
                quickly.
            </span>
        </div>
        <div class="md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Integration and Compatibility</div>
            <span class="text-700 line-height-3">
                Regular updates and compatibility checks guarantee that users always have access 
                to the latest versions of our applications.
            </span>
        </div>
        <div class="md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Centralized Access</div>
            <span class="text-700 line-height-3">
                    The intuitive interface allows for quick and effortless navigation, 
                    ensuring users can find and open their desired applications with minimal 
                    effort.
            </span>
        </div>
        <div class="md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-exclamation-circle text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Notifications and Alerts</div>
            <span class="text-700 line-height-3">
                Integrated notification system keeps users informed about important updates, 
                messages, and alerts from their connected applications.
            </span>
        </div>
        <div class="md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-primary"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Security and Privacy</div>
            <span class="text-700 line-height-3">
                App Matrix prioritizes user security and privacy, implementing robust encryption 
                and authentication measures to protect sensitive data.
            </span>
        </div> 
    </div>
</div>
